
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    border: 5px solid black;
}
.box{
    width: 350px;
    height: 30px;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: lightpink;
    border: 3px solid black;
    border-radius: 50px;
    margin: 20px;

    position: relative;
    top: 80px;
    left: 40%;
}